.container {
    max-width: 400px;
    margin: 10vh auto 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px 10px grey;
    background-color: rgb(255, 201, 108);
}

#display {
    height: 80px;
    line-height: 70px;
    margin: 5px;
    border: 3px solid rgb(233, 67, 67);
    border-radius: 10px;
    background-color: rgb(255, 255, 139);
    font-size: 50px;
    text-align: right;
    padding: 16px 8px;
    font-weight: bolder;
    color: rgb(145, 6, 6);
    overflow: auto;
    overflow-y: hidden;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.button {
    text-align: center;
    border: 3px solid rgb(255, 255, 139);
    background-color: rgb(233, 67, 67);
    color: white;
    padding: 10px;
    margin: 2px;
    border-radius: 10px;
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    text-shadow: 0 0 20px rgb(11, 11, 0);
    transition: all ease 0.4s;
    cursor: pointer;
}

.button:active {
    scale: 1.1;
    background-color: rgb(255, 255, 139);
}

#equal {
    background-color: rgb(255, 255, 139);
    border: 3px solid rgb(233, 67, 67);
    color: rgb(233, 67, 67);
}